/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

 /* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/windows.jpg);
}

/* Black-screen */
.black-screen {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    animation: animation-land-blackscreen 0.5s;
}

@keyframes animation-land-blackscreen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Hiding blackscreen */
.black-screen.hide-blackscreen{
    display: none;
}

.black-screen.animate-hide-blackscreen{
    animation: hide-blackscreen 2s;
}

@keyframes hide-blackscreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.black-screen label {
    font-size: 3rem;
    align-self: center;
}

/* Main Container */
.container {
    display: none;
}

.container.hide-container {
    display: none;
}

.container.show-container {
    width: 100%;
    height: 100%;
    display: flex;
    animation: animate-container 2s;
}

@keyframes animate-container {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* To-do List Icon */
.application {
    width: 80px;
    height: 80px;
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.application:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.application img {
    width: 50px;
    height: 50px;
}

.application label {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}

/* Sticky Notes GUI */
.gui-app {
    width: 25%;
    display: block;
    margin-left: 38%;
    position: absolute;
    align-self: center;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.5s ease;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 240, 170, 100);
}

.gui-app.todo-show-app {
    transform: scale(1);
    transform-origin: center;
}

.gui-app.todo-hide-app {
    transform: scale(0);
    transform-origin: center;
}

/* Title Bar from Sticky Notes GUI */
.title-bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 225, 129, 100);
}

/* Exit button */
.title-bar img {
    top: 5px;
    left: 90%;
    height: 30px;
    position: absolute;
}

.title-bar img:hover {
    cursor: pointer;
}

/* Application name */
.tb-label {
    font-size: 0.9rem;
    font-weight: bold;
}

/* Division for Image and Input */
.task-input {
    height: 35px;
    padding: 0px 10px;
}

/* Image inside the input for adding task */
.task-input img {
    top: 55px;
    left: 20px;
    position: absolute;
}

/* Input for adding task */
.task-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    font-family: 'Quicksand', sans-serif;
}

.task-input input::placeholder {
    color: #bfbfbf;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

/* Division for controls */
.controls {
    font-weight: bold;
    font-size: 0.8rem;
    align-items: center;
    padding: 20px 15px 10px 15px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(230, 210, 140, 100);
}

/* Filters span */
.filters span {
    cursor: pointer;
    margin: 0px 5px;
}

.filters span.active {
    border-top: 2px solid rgba(244, 66, 55, 255);
}

/* Clear All Button */
.controls .clear-btn {
    top: 93px;
    right: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 5px;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(244, 66, 55, 255);
}

.clear-btn.active{
    opacity: 0.9;
    cursor: pointer;
    pointer-events: auto;
  }

.clear-btn.active:active{
  transform: scale(0.93);
}

/* Task List */
.task-box {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px 15px;
}

.task-box.overflow{
    overflow-y: auto;
    max-height: 200px;
}

.task-box::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.task-box::-webkit-scrollbar-track{
    border-radius: 25px;
    background: rgba(250, 230, 160, 100);
}

.task-box::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: rgba(230, 210, 140, 100);
}

.task-box input {
    margin-right: 10px;
}

.task {
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    align-items: flex-start;
    border-bottom: 1px solid rgba(230, 210, 140, 100);
}

.task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label {
    display: flex;
}

.task-box li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task label input{
    margin-top: 7px;
    accent-color: #3C87FF;
}

.task label p{
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
}

.task label p.checked{
    text-decoration: line-through;
}

/* Settings for task (Edit/Delete) */
.task .settings {
    cursor: pointer;
}

.settings:where(i, li){
    cursor: pointer;
}

.settings .task-menu {
    z-index: 10;
    right: 15px;
    padding: 5px 0px;
    position: absolute;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    background-color: rgba(250, 230, 160, 100);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
}

.task-box .task:first-child .task-menu {
    top: 135px;
    transform-origin: top right;
}

.task-box .task:last-child .task-menu {
    bottom: 10px;
    transform-origin: bottom right;
}

.task-menu.show {
    transform: scale(1);
}

.task-menu li {
    height: 20px;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child {
    margin-bottom: 0;
}

.settings li:hover {
    background-color: rgba(230, 210, 140, 100);
}

.settings li i {
    padding-right: 8px;
}

/* Taskbar */
.taskbar {
    width: 100%;
    height: 35px;
    display: flex;
    color: white;
    margin-top: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    align-self: last baseline;
    background-color: rgba(28, 28, 28, 1);
}

/* Taskbar Shutdown icon */
.taskbar img.shutdown{
    width: 35px;
    height: 35px;
    padding: 10px;
}

.taskbar img.shutdown:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Taskbar To-do List icon */
.taskbar img.todo-taskbar {
    width: 35px;
    margin: 0px;
    height: 35px;
    padding: 5px;
    visibility: hidden;
    border-bottom-style: solid;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(25, 100, 150, 1);
}

.taskbar img.todo-taskbar.show-icon {
    visibility: visible;
    animation: taskbar-icon 0.7s;
}

@keyframes taskbar-icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.taskbar img.todo-taskbar.hide-icon {
    transform: scale(0);
    transform-origin: center;
}

.taskbar img.todo-taskbar:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Taskbar Time */
.taskbar time {
    margin-left: 90%;
    align-self: center;
}

/* Shutdown blackscreen */
.shutdown-bscreen {
    display: none;
}

.shutdown-bscreen.show-shutdown-bscreen {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    animation: animate-shutdown-bscreen 2s;
}

@keyframes animate-shutdown-bscreen {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shutdown-bscreen label {
    font-size: 3rem;
    align-self: center;
}